node_modules
dist
.atl
.agent/*
.engram
design.md
.agents/*
.cursor/*
plans/*
scripts/
skills-lock.json
dist-ssr
*.local

.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
